body, html {
	height: 100%;
	margin: 0;
	font-size: 18px;
}

.app {
	height: 100%;
}

.consoleWrapper {
	background: black;
	height: 100%;
	padding: 1rem;
	box-sizing: border-box;
}

.consoleViewport {
	color: #66ff33;
	font-family: "Courier New", Courier, monospace;
}

.consoleCursor {
	font-weight: bold;
	background: #66ff33;
	display: inline-block;
	vertical-align: sub;
	height: 1.1rem;
	width: .6rem;
}


.blink {
  animation: blink-animation .7s infinite;
  -webkit-animation: blink-animation .7s infinite;
}
@keyframes blink-animation {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}
@-webkit-keyframes blink-animation {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}
